* {
  box-sizing: border-box;
}

/* cards */

.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

.row {margin: 0 -5px;}

.row::after {
  content: "";
  clear: both;
  display: table;
}

/* Card effect */
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  padding: 16px;
}

/* Mouse-over effect */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* padding? */
.container {
  padding: 2px;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* buttons */

.button {
  background-color: #e7e7e7;
  border: 1px solid #e7e7e7;
  color: black;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.button:hover {background-color: white;}

.buttonB {
  background-color: #e7e7e7;
}

.buttonA {
  background-color: #e7e7e7;
}
